* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  .container {
    width: 100%;
    min-height: 100vh;
    background-color: #072454; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .stopwatch {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #114fb8;
      border-radius: 10px;
      width: 400px;
      height: 150px;
      font-size: 60px;
      color: white;
      font-weight: bold;
      font-family: 'Courier New', Courier, monospace;
    }

    .buttons {
      width: 400px;
      display: flex;
      padding-top: 50px;
      justify-content: space-between;

      .button {
        height: 40px;
        width: 100px;
        border: none;
        background-color: #114fb8;
        border-radius: 10px;
        color: white;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
        transition: all 0.4s  ease ;

        &:hover {
          background-color: #2e79ff;
          font-weight: bold;
        }
      }

    }
  }
